html{
    position:fixed;
    width:100%;
    height:100%;
}
body {
    background: #ffffff;
    text-align: left;
    color: #666;
    /*width: 700px;*/
    font-size: 14px;
    font-family: georgia, 'time new romans', serif;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

body *{
    -moz-user-select:none;
    -webkit-user-select:none;
    -o-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

a:focus {
    outline: none;
}
h1 {
    font-size: 24px;
    font-family: verdana, helvetica, arial, sans-serif;
    letter-spacing: -2px;
    color: #9FC54E;
    font-weight: 700;
    padding: 20px 0 0;
}
h2 {
    font-size: 10pt;
    font-family: "Verdana", "sans-serif";
    color: #444444;
    font-weight: 700;
    padding: 0 0 10px;
}
h3 {
    font-size: 12pt;
    font-family: "Verdana", "sans-serif";
    letter-spacing: 4px;
    color: #000000;
    font-weight: 500;
    /*text-transform: uppercase;*/
    margin: 0px 0px 10px -6px;
    padding: 0px;
    opacity:1;
/*    transform: scale(1.27, 1) translateX(3px);
    -webkit-transform: scale(1.27, 1) translateX(3px);*/
    text-shadow: rgba(0,0,0,0.4) 0 0 1px;
    -webkit-font-smoothing: antialiased;
    display: block;
    /*float:both;*/

}
pic {
    float: right;
    margin: 3px 3px 6px 8px;
    padding: 5px;
    background: #222222;
    border: 1px solid #333333;
}
p {
    color: #cccccc;
    line-height: 22px;
    padding: 0 0 10px;
    margin: 20px 0 20px 0;
}
/*img {
    border: none;
}*/

#map{
    position:absolute; 
    top:0; 
    left:0; 
    width: 100%;
    height: 100%; 
    z-index:0;
}



.panel {
    position: absolute;
    
    /*display: none;*/
    background-color: rgba(250,250,250,0.97);
    /*	border: darkslategray;
            border-style: solid;
            border-weight:1;*/
    /*box-shadow: 0px 0px 5px rgba(100,100,50,0.5);*/
    display: none;    
    border-radius:10px;
    box-shadow: 0px 0px 4px #000000;
    /*box-shadow: 0px 0px 4px rgba(50,50,0,0.6) inset, 0px 0px 5px rgba(100,100,50,0.6);*/
/*    //padding: 30px 30px 0px 30px;*/
    /*filter: alpha(opacity=85);
    /*opacity: .70;*/

}

.panel.right-docked{
    top: 50px;
    right: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 330px;
    height: auto;
}
#glass{
/*    border-top-left-radius: 10px;
   /-moz-border-radius-bottomleft: 20px;
    border-bottom-left-radius: 10px;*/
/*    //width: 330px;
    //height:available;*/
    padding: 10px 30px 0px 16px;
    
}

.panel.floatPanel{
    top:30%;
    left:30%;
    padding:5px;
    z-index:10000;
}
/*.panel.floatPanel>div{
    display:inline-block;
}*/
.panel.floatPanel>div a{
    display:inline-flex;
    flex-wrap:wrap;
    max-width:32px;
    max-height:32px;
}
.panel.floatPanel>div a.active>div{
    position: absolute;
    display: inline-flex;
    margin-top:29px;
    margin-left:-3px;
    padding:5px;
    max-width:100px;
    background-color:#666666;
    border-radius:10px;
    border-top-left-radius:0px;
    border: #cccccc thin solid;
    box-shadow: 2px 2px 6px rgba(100,100,100,0.4);
    font-family: "Verdana", "sans-serif";
    font-size:10pt;
    line-height:10pt;
}
.panel.floatPanel>div a.passive>div{
    display:none;
}
.panel.floatPanel>div a>div>*{
    margin-right:5px;
}


#drawControls.panel.floatPanel{
    
    top:380px;
    right:10px;
    left:initial;
    
    max-width:207px;
    padding-top:0px;
}
#dragDrawControlPanel{
    border-bottom: #cccccc thin solid;
    /*padding:4px 2px 10px 2px;*/
    margin-bottom:10px;
    cursor: move;
}
#dragDrawControlPanel>div{
    display:inline-block;
    width:10px;
    height:10px;
    /*height:20px;*/
    /*background: repeating-linear-gradient(90deg, white 20%, black 25%, white 27%, black 30%, white 32%, black 35%, white);*/
    background: #ffffff url("img/dragHandle.png") no-repeat right top;
    opacity:0.4;
    border-radius:10px;
}
#dragDrawControlPanel>span{
    font-family:"Verdana","sans-serif";
    font-size:12pt;
    letter-spacing:1px;
    -moz-user-select:none;
    -webkit-user-select:none;
    -o-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor: move;
}

#dragDrawControlPanel>div.dragHelper{
    position:absolute;
    border-radius:0px;
    margin-left:-150px;
    margin-top:-150px;
    width:300px;
    height:300px;
    opacity:0;
    display:none;
}

/**floatPanel close button**/
.panel.floatPanel a.trigger.closeButton{
    position:absolute;
    left:initial;
    right: 2px;
    top: 2px;
    float:right;
    border-radius:6px;
    z-index:10000;
}
.panel.floatPanel a.trigger.closeButton .icon{
    width:6px;
    height:6px;
    font-size:8px;
    padding: 3px 5px 7px 5px;
}
/****/

/*#dragDrawControlPanel:active>div.dragHelper{
    display:inline-flex;
    cursor: move;
}*/

#floatPanelsContainer{
    position:absolute;
    left:80px;
    z-index:-100;
}


.presets{
    /*//position: relative;*/
    padding: 10px;
    box-shadow: 0px 0px 3px rgba(50,50,100,0.2);
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 12pt;
    text-wrap: avoid;
    font-family: "Myriad Pro";
    color: #000000;
    /*//font-weight: bold;*/
    text-shadow: rgba(0,0,0,0.4) 0 0 0.5px;
    -webkit-font-smoothing: antialiased;
    /*//line-height: 22pt;*/
    text-transform: capitalize;
}
.presetItem{
    border-width: 0px;
    border-bottom-width:thin;
    border-style: solid;
    border-color: #cccccc;
    /*//vertical-align: bottom;*/
    margin-bottom:10pt;
}

div.delItem{
    float: right;
    box-sizing: border-box;
    
}

div.delItem a{
    /*margin-right:2px;*/
    box-sizing: border-box;
    /*padding:0px;*/
}

div.delItem img{
/*    position: absolute;
    font-family: "Lucida Grande", "Verdana", "sans-serif";
    font-style: normal;
    float: right;

    font-size: 9pt;
    color: #eeeeee;

    width: 14pt;
    line-height: 12pt;
    border-radius:10px;
    border-width: thin;
    border-style: solid;
    border-color: #eeeeee;
    text-align: center;
    padding-right:1px;*/
    box-sizing: border-box;
    width: 10pt;
    height: 10pt;
}
/*div.delItem:after{
    content: "-";
}*/

div.addItem{
    float:right;
    margin-right:4px;
    margin-top:-15pt;
}
div.addItem img{
    width:10pt;
    height:10pt;
}

.panel p {
    margin: 0 0 15px 0;
    padding: 0;
    color: #ffffff;

}
.panelContent{
    margin-bottom:15px;
    max-height: 200pt;
    max-width: none;
    overflow: auto;
    box-shadow: 0px 0px 3px rgba(50, 50, 100, 0.2);
}
.panel a, .panel a:visited, .splashContainerBase a{

    /*position:inherit;
    //display:table-cell;
    //margin: 0;*/
    left:0px;
    /*top:-120px;*/
    /*padding: 0;
    margin-right:80%;
    margin-bottom: 20%;*/
    /*margin-top:-15%;
    padding:0px;*/
    color: #9FC54E;
    text-decoration: none;
    clear:both;
    border-radius:10px;

    /*border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
    border-bottom: 1px solid #9FC54E;*/
}
.panel a:hover, .panel a:visited:hover {
    /*margin: 0;*/
    padding: 0;
    /*margin-right:100%;*/
    /*margin-top: 0;
    position:absolute;*/
    color: #ffffff;
    text-decoration: none;
    /*border-bottom: 1px solid #ffffff;*/
}
a.trigger, a.tool, a.editTool{
/*    //position: absolute;
    //float: left;
    //clear:both;*/
    display: inline-block;
    z-index:2;
    text-decoration: none;
    /*top: 50px;
    right: 0;*/
/*    //width:60px;
    //height:60px;*/
    font-size: 8px;
    letter-spacing: -1px;
    font-family: verdana, helvetica, arial, sans-serif;
    color: #fff;
    /*//padding: 10px 10px 5px 10px;*/
    /*//padding:10px;*/
    font-weight: 700;
    background: rgba(51,51,51,0.4);
    border: 1px solid rgba(0,0,0,0);
    /*opacity:0.2;*/
    /*//border-radius-topleft: 20px;*/
    border-top-left-radius: 10px;
    /*//border-radius-bottomleft: 20px;*/
    border-bottom-left-radius: 10px;
    /*//border-radius-bottomright: 0px;*/
    /*border-bottom-right-radius: 0px;*/
    /*//display: block;*/
    cursor:pointer;
}

a.trigger.disabled, a.tool.disabled, a.editTool.disabled, a.trigger.disabled:hover, a.tool.disabled:hover, a.editTool.disabled:hover{
    background: rgba(51,51,51,0.1);
    opacity:0.4;
    cursor:default;
}

a.trigger:hover, a.tool:hover, a.editTool:hover, a.active {
    /*//position: absolute;*/
    /*size:auto;*/
    text-decoration: none;
    /*top: 50px;
    //right: 0;
    //width:65px;
    //height:60px;*/
    font-size: 8px;
    letter-spacing: -1px;
    font-family: verdana, helvetica, arial, sans-serif;
    color: #fff;
    /*//padding: 20px 20px 20px 40px;*/
    /*//padding:10px;*/
    font-weight: 700;
    background: rgba(34,34,34,0.7);
    border: 1px solid rgba(0,0,0,0);
    /*opacity:0.7;*/
    /*//border-radius-topleft: 20px;*/
    /*border-top-left-radius: 20px;*/
    /*//border-radius-bottomleft: 20px;*/
    /*border-bottom-left-radius: 20px;*/
    /*//border-radius-bottomright: 0px;*/
    /*border-bottom-right-radius: 0px;*/
    /*//display: block;*/
}

a.trigger .triggerMask{
/*    //position:relative;
    //top: 0px;
    //left:0px;*/
    width: 50px;
    height: 50px;
    /*//opacity: 0.5;*/
}
/*a.trigger .inputDiv>input{*/
    /*position:absolute;*/
/*    top: 0px;
    left:0px;
    width: 50px;
    height: 50px;
    opacity: 0.5;
    z-index:0;*/
    /*margin-left:-10000%*/
/*}*/

#expandPanel{
    position:absolute;
    top:50px;
    right:0;
    /*.trigger class overrides*/
    padding: 5px 15px 5px 5px;
    background-color:rgba(102,102,102,0.6);
    /**/
}
#expandPanel:hover, #expandPanel:active{
    background-color:#666666;
}
/*.icon class overrides*/
#expandPanel .icon{
    width:22px;
    height:22px;
}
/**/
/*#collapsePanel{

    	position:relative;
            margin-left:-30px;
            margin-top:-50px;
    border-top-right-radius:10px;
}*/

#selectFrom{
    width:260px;
    background-color:rgba(0,0,0,0);
    border-width: 0px;
    border-bottom-width:thin;
    border-style: solid;
    border-color: #cccccc;
/*    //box-shadow:#666;
    //overflow:hidden;*/
    text-transform:capitalize;
    outline: #cccccc dashed thin;
    outline-offset:-1px;
    font-height: 12pt;
    padding-top: 6px;
/*    margin-top:-4px;*/
    
    
    /*//border-bottom-width: 0.5px;*/
}

#selectedPresets{
    /*//width:300px;*/
    width:260px;
    background-color: #ffffff;
}


#aggregate{
    /*z-index:-1;*/
    padding:5px;
    background-color:#ffffff;
    box-shadow: 0px 0px 3px rgba(50, 50, 100, 0.2);
}

#selectFrom *, #selectedPresets *, #aggregate *{
    -moz-user-select: text;
    -webkit-user-select:text;
    -o-user-select:text;
    -ms-user-select:text;
    user-select:text;
}

#add{
    width:15px;
    height:15px;
    display: inline-block;
    padding:5px;
    padding-top:0;
    background-color:rgba(0,102,0,1);
    border-width:thin;
    border-style:outset;
    border-color: rgba(51,255,0,1);
    border-radius: 10px;
    text-align:center;
}



#pen{
    clear:both;
    float:left;
}

.panelControls{
    position:relative;
    margin-left:-16px;
    margin-top:0px;
/*    //float:left;
    //clear:both;*/
    display:block;
}
.panelControls>*{
    /*display:inline-block;*/
    /*//size:auto;*/
}

a.active.trigger {
    /*//background: #222222 url(images/minus.png) 15% 55% no-repeat;*/
}

.icon{
    padding: 5px;
    width: 20px;
    height: 20px;
}
.panel .arrow{
    transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
}

.columns {
    clear: both;
    /*//width: 330px;*/
    padding: 0 0 20px 0;
    line-height: 22px;
}
.colleft {
    float: left;
    width: 130px;
    line-height: 22px;
}
.colright {
    float: right;
    width: 130px;
    line-height: 22px;
}
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
ul li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
hr {
    background-color: #333333;
    height: 1px;
}

.splashContainerBase.active{
    display: inline-flex;
    flex-direction:column;
    /*width:200px;*/
    margin-top: 100px;
    margin-left:40%;
    width:20%;
}


.splashContainerBase *{
    z-index:1000;
    /*width:200px;*/
}
.splashContainerBase.passive{
    display:none;
}
.splashContainerBase.active .panel{
    display:inline-flex;
    flex-wrap:wrap;
    flex-direction: column;
    overflow: hidden;
    padding:10px 16px 10px 16px;
    box-shadow: 0px 0px 4px rgba(0,0,0,1);
    border-radius:10px;
}
.splashContainerBase.active .panel>div{
    max-width:350px;
    max-height:300px;
    /*overflow: auto;*/
}
.splashContainerBase.active .panel>div.tagsSelector.container{
    background-color:#ffffff;
    /*outline: #dddddd thin solid;*/
    box-shadow: 0px 0px 3px rgba(50, 50, 100, 0.2);
    margin-bottom:10px;
    overflow: auto;
}
.splashContainerBase.active .panel>div>h3{
    transform: none;
    /*font-size:12pt;*/
    /*padding-left:5px;*/
}



#tagsSelector{
    padding:5px;
}
#tagsSelector>select{
    margin:10px;
    width:300px;
}
#tagsSelector h3{
    font-size:12pt;
    letter-spacing:initial;
    text-shadow:none;
    min-width:200px;
    padding-left:5px;
}

.splashContainerBase div.checkbox{
    display:inline-block;
    vertical-align: text-bottom;
    height:30px;
    margin-left: 145px;
    margin-right:15px;
    margin-top:4px;
    /*padding:10px;*/
}

.export.panel.floatPanel{
    text-transform:capitalize;
}

.hiddenObjects{
    display:none;
}

.ui-menu-item{
    text-transform: capitalize;
}


/**layer-switcher panel**/
#OpenLayers_Control_LayerSwitcher_6{
    float:left;
    left:-3px;
    top:80px;
    text-transform:capitalize;
}

#OpenLayers_Control_LayerSwitcher_6_layersDiv{
    /*padding-left:20px;*/
    padding-bottom:20px;
    background-color:#666666;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
            
    border: #cccccc thin solid;
    border-left:none;
    box-shadow: 3px 3px 6px rgba(50,50,50,0.6);
    font-family: "Verdana", "sans-serif";
    font-size:10pt;
    line-height:10pt;
}
#OpenLayers_Control_MaximizeDiv{
    position:initial !important;
/*                "margin-left": -220,*/
    /*transform: rotate(180deg);*/

    font-size:16pt;
    padding:6pt 10pt 10pt 10pt;
    text-align:center;
    /*background-color:#666666;*/
    background-color:rgba(102,102,102,0.6);
/*    border-top-left-radius:10px;
    border-bottom-left-radius:10px;*/
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
}
#OpenLayers_Control_MaximizeDiv:hover, #OpenLayers_Control_MaximizeDiv:active{
    background-color:#666666;
}

#OpenLayers_Control_MaximizeDiv>img{
    opacity:0;
}
#OpenLayers_Control_MaximizeDiv:before{
    content: "+";
}
#OpenLayers_Control_MinimizeDiv{
    position:initial !important;
    float:right;
    margin-right:6px;
    margin-top:-24px;
}
/****/

/**zoom-controls**/
#OpenLayers_Control_Zoom_2>a.olButton{
    background-color:#666666;
    opacity:1;
}
/****/

/**loading animation**/
#animbox{
    width:50px;
    height:50px;
    border-radius:25px;
    background-color:#cccccc;
    /*margin-left:20%;*/
    margin-top:15%;
}
/****/

/**chrome checkbox size bugfix**/
input[type="checkbox"]{
    -webkit-min-logical-width:14px;
}
/****/